@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0 0;
  padding: 0 0;
  font-family: "Poppins", sans-serif;
  font-family: cursive;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}
.display-in-three {
  display: flex;
  flex-direction: row;
}

.img-responsive {
  width: 100%;
}
.img-curve {
  border-radius: 15px;
}

.text-right {
  text-align: center;
  margin-top: 3px;
  position: absolute;
  top: -3%;
  right: 2%;
  left: 1%;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-white {
  color: white;
}

.clearfix {
  clear: both;
  float: none;
}

a {
  color: #d8d6d6;
  text-decoration: none;
}
a:hover {
  color: #f6b11a;
}
.search-bar {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  margin-right: 3%;
  margin-top: 5px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1%;
}

.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: #f6b11a;
  color: white;
  cursor: pointer;
}
.btn-primary:hover {
  color: white;
  background-color: #926c19;
}
h2 {
  color: #2f3542;
  font-size: 2rem;
  margin-bottom: 2%;
}
h3 {
  font-size: 1.5rem;
}
.float-container {
  position: relative;
}
.float-text {
  position: absolute;
  bottom: 50px;
  left: 40%;
}
fieldset {
  border: 1px solid white;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
}

/* CSSS for navbar section */

.logo {
  width: 5%;
  float: left;
}

.menu {
  line-height: 60px;
}
.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  padding: 1%;
  font-weight: bold;
}

/* CSS for Food SEarch Section */

.food-search {
  background-image: url(../images/bgrw1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 8% 5%;

  position: relative;
}

.food-search input[type="search"] {
  width: 25%;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  margin-right: 8%;
  margin-top: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

/* CSS for Categories */
.categories {
  padding: 4% 0;
}

.box-3 {
  width: 28%;
  float: left;
  margin: 2%;
  transition-duration: 0.5s;
  transition-property: all;
}
.box-3:hover {
  transform: scale(1.1);
}

/* CSS for Food Menu */
.food-menu {
  background-color: #ececec;
  padding: 4% 0;
}
.food-menu-box {
  width: 35%;
  margin: 1%;
  padding: 1%;
  float: left;
  background-color: white;
  border-radius: 15px;
}

.food-menu-img {
  width: 20%;
  float: left;
}

.food-menu-desc {
  width: 90%;
  float: left;
  margin-left: 10%;
}

.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}
.food-detail {
  font-size: 1rem;
  color: #747d8c;
}

/* for Order Section */
.order {
  width: 50%;
  margin: 0 auto;
}
.input-responsive {
  width: 96%;
  padding: 1%;
  margin-bottom: 3%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.order-label {
  margin-bottom: 1%;
  font-weight: bold;
}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width: 768px) {
  .logo {
    width: 80%;
    float: none;
    margin: 1% auto;
  }
  .display-in-three {
    flex-direction: column;
  }

  .menu ul {
    text-align: center;
  }

  .food-search input[type="search"] {
    width: 50%;
    padding: 2%;
    margin-bottom: 3%;
    margin-right: 25%;
    margin-top: 10%;
  }
  .search-bar {
    padding: 2%;
    margin-right: 25%;
    margin-top: 10%;
  }

  .btn {
    width: 51%;
    padding: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .food-search {
    padding: 10% 5%;
  }

  .categories {
    padding: 20% 0;
  }
  h2 {
    margin-bottom: 10%;
  }
  .box-3 {
    width: 100%;
    margin: 4% auto;
  }

  .food-menu {
    padding: 20% 0;
  }

  .food-menu-box {
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
  }

  .order {
    width: 100%;
  }
}
