/* RESET */
* {
    box-sizing: border-box;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #1e2330;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    z-index: 1000;
}

/* SPACE BELOW HEADER */
.header-space {
    height: 70px;
}

/* LOGO */
.header-logo-part {
    flex: 0 0 auto;
}

.logo {
    height: 32px;
}

/* SEARCH */
.search-area {
    flex: 1;
    max-width: 520px;
    margin: 0 30px;
}

.search-form {
    display: flex;
    width: 100%;
    height: 40px;
}

.search-input {
    flex: 1;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 6px 0 0 6px;
    outline: none;
}

.search-btn {
    width: 50px;
    border: none;
    background: #febd69;
    border-radius: 0 6px 6px 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    width: 20px;
}

/* ICONS */
.header-icons {
    display: flex;
    align-items: center;
    gap: 18px;
}

.cart-box {
    position: relative;
}

.cart-icon {
    width: 28px;
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -6px;
    color: #f08804;
    font-weight: bold;
}

.login-icon {
    width: 34px;
}
/* ICON LINKS */
.icon-link {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* CART */
.cart-box {
    position: relative;
}

.cart-icon {
    width: 28px;
    transition: transform 0.25s ease;
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -8px;
    background: #f08804;
    color: #000;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}

/* LOGIN */
.login-icon {
    width: 34px;
    transition: transform 0.25s ease;
}

/* HOVER EFFECT */
.icon-link:hover img {
    transform: scale(1.15);
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .search-area {
        max-width: 260px;
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .search-area {
        max-width: 180px;
    }
}

