.header{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 40px;
background-color: #f6b11a;
position: fixed;
top:0;
left: 0;
width: 100%;
z-index: 100;
white-space: nowrap; 
padding: 1%;
vertical-align: top;
}
.header-logo-part{
float: left;
width: 10%;
}
.logo{
height: 40px;
filter: brightness(10%);
cursor: pointer;
}
.second-part{
flex: 2;
margin-left:30px ;
margin-right: 30px;
max-width: 500px;
}
.login-part{
width: 25%;
float: right;
}
.second-part input[type="search"]{
width: 85%;
height: 40px;
padding: 8px 16px;
font-size: 16px;
border: none;
border-radius: 10px;
box-shadow: inset 1px 2px 3px rgb(0,0,0,0.05);
outline: none;
}
.second-part input[type="submit"]{
width:20%;
background-color: black; 
color: white; 
padding: 8px 16px;
border-radius: 10px;
font-weight: bold;
cursor: pointer;
}
@media only screen and (max-width:768px){
.second-part input[type="search"]{
width: 200%; 
 }  
.second-part input[type="submit"]{
width: 50%; 
}
.header-logo-part{
float: left;
}
}